html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: avenir-roman, sans-serif;
    background-color: #040714;
    color: #f9f9f9;
}

a {
    color: #f9f9f9;
    text-decoration: none;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 479px) {
    body {
        font-size: 14px;
    }
}